
<div class="row justify-content-right" style="padding-bottom:20px">
  <div class="col-sm-2 col-lg-2">

    <div class="widget-subheading">Persons of Interest</div>
     <select class="form-control-sm form-control" style="width:250px;" [(ngModel)]="poiFilter" (change)="getPoITweets()">
      <option selected disabled hidden style='display: none' value=''></option>
      <option>AOC</option>
      <option>CDCgov</option>
      <option>CovidIndiaSeva</option>
      <option>GovMLG</option>
      <option>HHSGov</option>
      <option>ICMRDELHI</option>
      <option>KTRTRS</option>
      <option>KamalaHarris</option>
      <option>M_OlgaSCordero</option>
      <option>MamataOfficial</option>
      <option>MoHFW_INDIA</option>
      <option>NMDOH</option>
      <option>PMOIndia</option>
      <option>SRE_mx</option>
      <option>SSalud_mx</option>
      <option>SpeakerPelosi</option>
      <option>US_FDA</option>
      <option>VP</option>
      <option>gobmx</option>
      <option>lopezobrador_</option>
      <option>m_ebrard</option>
      <option>myogiadityanath</option>
      <option>narendramodi</option>
      <option>rajnathsingh</option>
      <option>tedcruz</option>
    </select> 
  </div>
</div>
<div class="d-block chartjs-container">
  <canvas baseChart width="400" height="200"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          (chartHover)="chartHovered($event)" 
          (chartClick)="chartClicked($event)"
      ></canvas>
</div>
<div class="table-responsive">
  <table class="table mt-3 table-condensed table-hover table-bordered">
    <thead>
    <tr>
      <th *ngFor="let label of lineChartLabels">{{label}}</th>
    </tr>
    </thead>
    <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
      <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
    </tr>
  </table>
</div>
<!-- <div class="text-center">
  <button mat-button mat-raised-button color="primary" class="mr-2 mb-2" (click)="randomize()">Randomize</button>
  <button mat-button mat-raised-button color="primary" class="mr-2 mb-2" (click)="pushOne()">Push</button>
  <button mat-button mat-raised-button color="primary" class="mr-2 mb-2" (click)="changeColor()">Recolor</button>
  <button mat-button mat-raised-button color="primary" class="mr-2 mb-2" (click)="hideOne()">Toggle Series B</button>
  <button mat-button mat-raised-button color="primary" class="mr-2 mb-2" (click)="changeLabel()">Change Label</button>
</div> -->
