
<div class="row">
  <div class="col-md-12">
    <div class="card main-card mb-3">
      <div class="card-header">
        Line Chart
      </div>
      <div class="card-body">
        <app-line-chart></app-line-chart>
      </div>
    </div>
  </div>
  <div class="col-md-12" >
    <iframe class="col-md-12" style="height: 3200px;" src="https://app.powerbi.com/view?r=eyJrIjoiZjAzZThlZjEtNjllYS00NzFjLWJlNTEtOGQxMDFiZDM3ZmE1IiwidCI6Ijk2NDY0YThhLWY4ZWQtNDBiMS05OWUyLTVmNmI1MGEyMDI1MCIsImMiOjN9" title="charts"></iframe>
  </div>
  

 
</div>

